{% extends 'xiangcloud.html' %}

{% load i18n %}
{% load staticfiles %}
{% load template_tags %}


{% block container_header %}
    <h1>{% trans '欢迎, 关注' %}</h1>
    <div class='row'>
        <div class="col-md-10 col-md-offset-1">
            <a href='#' class="thumbnail">
                <div class="caption text-center">
                    <h3>{% trans '公共账号微信二微码' %}</h3>
                </div>
                <img class="img-thumbnail" src='{% static "media/images/public_weixin.jpg" %}' alt="...">
            </a>
            <a href='#' class="thumbnail">
                <div class="caption text-center">
                    <h3>{% trans '个人账号微信二微码' %}</h3>
                </div>
                <img class="img-thumbnail" src='{% static "media/images/weixin.jpg" %}' alt="...">
            </a>
        </div>
    </ul>
{% endblock %}